/* You can add global styles to this file, and also import other style files */
body
{
    background-color: rgba($color: #131010, $alpha: 5.0);
    color: white;
}
.movies-caption .hieght1
{
    height: 1px;
    width: 25%;
    background-color: gray;
}
.movies-caption .hieght2
{
    height: 1px;
    width: 100%;
    background-color: gray;
}
.tv-caption .hieght1
{
    height: 1px;
    width: 25%;
    background-color: gray;
}
.tv-caption .hieght2
{
    height: 1px;
    width: 100%;
    background-color: gray;
}
.logOut
{
    cursor: pointer;
}
img
{
    cursor: pointer;
}